<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="ZZBF" value="ZBF The Soldiers Charity"/>
    <add key="ABF" value="ABF The Soldiers Charity"/>
    <add key="AAH" value="Action Against Hunger	"/>
    <add key="ACT" value="Addenbrookes Charitable Trust"/>
    <add key="ADF" value="ADF International"/>
    <add key="AWC" value="All We Can"/>
    <add key="BDCH" value="Battersea Dogs and Cats Home"/>
    <add key="CCUK" value="Cancer Support UK"/>
    <add key="CARE" value="CARE International"/>
    <add key="CW" value="Christianity Works"/>
    <add key="CLIC" value="CLIC Sargent"/>
    <add key="CORAM" value="Coram"/>
    <add key="CRISIS" value="Crisis"/>
    <add key="CROHNS" value="Crohns and Colitis UK"/>
    <add key="FFI" value="Fauna and Flora International"/>
    <add key="FFS" value="Fight For Sight"/>
    <add key="GST" value="Guys and St Thomas"/>
    <add key="HM" value="Harvesters Ministries"/>
    <add key="HSIUK" value="Humane Society International UK"/>
    <add key="ITM" value="In Touch Ministries"/>
    <add key="KRUK" value="Kidney Research UK"/>
    <add key="KCL" value="Kings College London"/>
    <add key="LHR" value="Liberty Human Rights"/>
    <add key="LT" value="Living Truth"/>
    <add key="MAGGIES" value="Maggies"/>
    <add key="MH" value="Methodist Homes"/>
    <add key="MEC" value="Moorfields Eye Charity"/>
    <add key="MU" value="Mothers Union"/>
    <add key="NEUM" value="NEU Membership"/>
    <add key="PPM" value="PowerPoint Ministries"/>
    <add key="SENSE" value="Sense"/>
    <add key="STARLIGHT" value="Starlight"/>
    <add key="TCT" value="Teenage Cancer Trust"/>
    <add key="TTT" value="Telling the Truth"/>
    <add key="TGO" value="The Gorilla Organization"/>
    <add key="WOMANKIND" value="Womankind"/>
    <add key="WG" value="Wood Green"/>
    <add key="WVFC" value="World Villages for Children"/>
    <add key="WVUK" value="World Vision UK"/>
    <add key="ZANE" value="ZANE"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>